body {
    background: url('img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    background-image: url('img/jumbotron.jpg');
    background-size: cover;
    height: 100%;
    min-height: 50px;
}

.img-fluid {
    max-width: 100%;
}

.img-content {
    float: left;
    max-height: 120px;
    margin-right: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-size: 5.9vw;
}

h2 {
	font-size: 3.0vh;
}

a {
	font-size: 3.0vh;
}

p {
	font-size: 2.5vmin;
}